$color-purple-dark:  #392C72;
$color-gray-dark:    #4F4F4F;
$color-gray-middle:  #828282;
$color-gray-light:   #BDBDBD;
$color-purple-light: #9E8CFC;
$color-red:          #EA5455;
$color-yellow:       #F2C94C;
$color-green:        #6FCF97;
$color-blue-dark:    #283046;
$color-blue-darken:  #161D31;
$color-white:        #fff;

$font-main: "Montserrat", sans-serif;